<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cloud Storage</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/static/styles.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container mt-5" th:if="${#authentication.isAuthenticated()}">
    <h2>Cloud Storage</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active" th:text="${currentPath}"></li>
        </ol>
    </nav>
    <div class="row mb-4">
        <div class="col-md-12">
            <button class="btn btn-primary mr-2" data-toggle="modal" data-target="#uploadFileModal">Upload File</button>
            <button class="btn btn-primary mr-2" data-toggle="modal" data-target="#uploadFolderModal">Upload Folder</button>
        </div>
    </div>
    <div th:if="${errorMessage}">
        <h4>Error:</h4>
        <p th:text="${errorMessage}"></p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div th:replace="search :: search"></div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:classappend="${file.isDir()} ? 'table-active' : ''" th:each="file : ${folderContent}">
                    <td class="file-item">
                        <span th:if="${not file.isDir()}" th:text="${file.name()}"></span>
                        <a th:href="@{'/' + '?path=' + ${#strings.append(file.path(), file.name())}}" th:if="${file.isDir()}" th:text="${file.name()}"></a>
                    </td>
                    <td th:text="${file.isDir()} ? 'Folder' : 'File'"></td>
                    <td th:if="${not file.isDir()}">
                        <button class="btn btn-danger" data-toggle="modal" th:data-target="'#deleteModal-' + ${#strings.replace(#strings.replace(#strings.replace(file.name(), ' ', '-'), '.', '-'), '/', '-')}">Delete</button>
                        <div th:replace="file-delete-modal :: delete-modal"></div>
                        <button class="btn btn-primary" data-toggle="modal" th:data-target="'#fileRenameModal-' + ${#strings.replace(#strings.replace(#strings.replace(file.name(), ' ', '-'), '.', '-'), '/', '-')}">Rename</button>
                        <div th:replace="file-rename-modal :: file-rename-modal"></div>
                    </td>
                    <td th:if="${file.isDir()}">
                        <button class="btn btn-primary" data-toggle="modal" th:data-target="'#folderRenameModal-' + ${#strings.replace(#strings.replace(#strings.replace(file.name(), ' ', '-'), '.', '-'), '/', '-')}">Rename</button>
                        <div th:replace="folder-rename-modal :: folder-rename-modal"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="upload-file-modal :: file-modal"></div>
<div th:replace="upload-folder-modal :: folder-modal"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>
