<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cloud Storage</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <style>
    </style>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container mt-5">
    <h2>Cloud Storage</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active" th:text="${currentPath}"></li>
        </ol>
    </nav>
    <div class="row mb-4">
        <div class="col-md-12">
            <button class="btn btn-success mr-2" data-toggle="modal" data-target="#uploadFileModal">Upload File</button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#uploadFolderModal">Upload Folder</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div th:replace="search :: search"></div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody>
                <tr th:classappend="${file.isDir} ? 'table-active' : ''" th:each="file : ${folderContent}">
                    <td class="file-item">
                        <span th:if="${not file.isDir()}" th:text="${file.name()}"></span>
                        <a th:href="@{'/' + '?path=' + ${file.path() + file.name()}}" th:if="${file.isDir()}" th:text="${file.name()}"></a>
                    </td>
                    <td th:text="${file.isDir} ? 'Folder' : 'File'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="upload-file-modal :: file-modal"></div>
<div th:replace="upload-folder-modal :: folder-modal"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>
