<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Login</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}">
    <link rel="stylesheet"
          th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/signup-form.css}">
</head>
<body>

<div class="container d-flex justify-content-center align-items-center"
     style="height: 100vh;">
    <div class="signup-form">
        <div class="card-body">
            <h2 class="mb-3 text-center">Login</h2>
            <form method="post" th:action="@{/login}">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input class="form-control" id="email" name="email"
                           placeholder="Enter your email" required
                           type="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <input class="form-control" id="password"
                               name="password" placeholder="Enter your password"
                               required
                               type="password">
                        <div class="input-group-append">
                            <span class="input-group-text" id="togglePassword">
                                <i class="far fa-eye-slash"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="alert alert-warning" th:if="${param.error}">Invalid username or/and password</div>
                <div class="d-flex justify-content-center align-items-center flex-wrap">
                    <button class="btn btn-primary w-100" type="submit">Login
                    </button>
                </div>
                <div class="text-center mt-3">
                    <div class="text-center">
                        <span class="small">Don't have an account? <a
                                th:href="@{/signup}">Sign up</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script defer
        th:src="@{/webjars/popper.js/1.14.7/dist/umd/popper.min.js}"></script>
<script defer
        th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js}"></script>
<script defer th:src="@{/signup-form.js}"></script>
</body>
</html>
