<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/signup-form.css}">
    <script th:src="@{/webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
</head>
<body>

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="signup-form">
        <div class="card-body">
            <h2 class="mb-3 text-center">Sign Up</h2>
            <form action="#" th:action="@{/users/signup}" method="post">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email"
                           required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password"
                               oninput="checkPasswordStrength(this)" required>
                        <div class="input-group-append">
                            <span class="input-group-text" id="togglePassword">
                                <i class="far fa-eye-slash"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="matchingPassword">Confirm password</label>
                    <input type="password" class="form-control" id="matchingPassword" name="matchingPassword" placeholder="Confirm your password" required>
                </div>
                <div class="form-text text-muted small pl-3">
                    <ul id="password-requirements" class="list-unstyled" style="list-style-type: disc;">
                        <li id="length-requirement" class="text-danger">At least 8 characters long</li>
                        <li id="uppercase-requirement" class="text-danger">At least one uppercase letter</li>
                        <li id="lowercase-requirement" class="text-danger">At least one lowercase letter</li>
                        <li id="number-requirement" class="text-danger">At least one number</li>
                        <li id="special-character-requirement" class="text-danger">At least one special character</li>
                    </ul>
                </div>
                <div th:if="${errors}">
                    <ul>
                        <li class="text-danger" th:each="error : ${errors.values()}" th:text="${error}"></li>
                    </ul>
                </div>
                <div th:if="${errorMessage}">
                    <h4>Error:</h4>
                    <p th:text="${errorMessage}"></p>
                </div>
                <div class="d-flex justify-content-center align-items-center flex-wrap">
                    <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                </div>
                <div class="text-center mt-3">
                    <div class="text-center">
                        <span class="small">If you already have an account you can <a
                                href="/users/login">Login</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/popper.js/1.14.7/dist/umd/popper.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js}" defer></script>
<script th:src="@{/signup-form.js}" defer></script>
<script th:src="@{/password-validator.js}" defer></script>
<script>

</script>
</body>
</html>
